<nav class = "navbar navbar-expand-lg navbar-dark bg-dark" > 
   
    <a href="#" class = "navbar-brand" style = "float: left;"> Item List</a>
  
    <div class = "collapse navbar-collapse">
        <ul class = "navbar-nav" >
            <li  routerLinkActive ="nav-item active" class = "nav-item"><a class ="nav-link" routerLink="/items" style = "float: left;">Items</a> </li>
            <li  routerLinkActive ="nav-item active" class = "nav-item"><a class ="nav-link"  routerLink="/shopping-list" style = "float: left;">Shopping List</a> </li>
            <li  routerLinkActive ="nav-item active" class = "nav-item"><a class ="nav-link"  routerLink="/signup" style = "float: left;">Signup</a> </li>
            <li  routerLinkActive ="nav-item active" class = "nav-item"><a class ="nav-link"  routerLink="/signin" style = "float: left;">Login</a> </li>
        </ul>
    </div>
    

</nav>
