<div class = "row">
    <div class = "col-10">
        <hr>
        <ul class = "list-group">
            <li class = "list-group-item" style = "cursor: pointer;"
                *ngFor = "let item of itemCart; let i = index"> 
                <div class= "row">
                    <div class = "col-8">
                         {{item.name}}
                     </div>
                     
                         <div class = "col-1">
                         $ {{item.price}}
                         </div>
                         <div class = "col-1">
                             <button (click) = "decrease(i)" class = "btn btn-danger">-</button>
                         </div>
                         <div class ="col-1">
                             {{item.amount}}
                         </div>
                         <div class = "col-1">
                             <button (click)= "increase(i)" class = "btn btn-success">+</button>
                         </div>
                    </div>
            </li>
        </ul>
    </div>
</div>